version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    versioning-strategy: increase
    groups:
      dependencies:
        patterns:
          - "*"
      devDependencies:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"